<h1>New Case</h1>

<%= form_for [:admin, @ccase] do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <%= f.submit "Create", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_ccases_path %>
  </div>
<% end %>
